### Required
# CONTENTFUL_DELIVERY_API_TOKEN=
# CONTENTFUL_PREVIEW_API_TOKEN=
# NEXT_PUBLIC_COMMERCELAYER_CLIENT_ID=
# NEXT_PUBLIC_COMMERCELAYER_MARKET_SCOPE=
# COMMERCELAYER_CLIENT_SECRET=
# SMTP_HOST=
# SMTP_USER=
# SMTP_PASSWORD=
# ALGOLIASEARCH_READ_API_KEY=
# NEXTAUTH_SECRET=
# VANTI_EMAIL_ADDRESS=

### Required with defaults (Uncomment just for override docker-compose.yaml)
# CONTENTFUL_ENVIRONMENT=master
# CONTENTFUL_SPACE_ID=3brzg7q3bvg1
# REVALIDATE_SECRET_TOKEN=test
# NEXT_PUBLIC_COMMERCELAYER_ENDPOINT=https://vanti-poc.commercelayer.io
# SMTP_PORT=25
# ALGOLIASEARCH_APP_ID=DU18JA7AT2
# NEXTAUTH_URL=http://localhost:3000/

### Development (Uncomment just for override development env)
# APP_NAME=VANTI-WEBCOMMERCE
# APP_PORT_PREFIX=39
# TARGET_IMAGE=prod
# NODE_ENV=production
# DEFAULT_SERVICE=app

### Imports/Exports
# CONTENTFUL_MANAGEMENT_API_TOKEN=test

### Utils
## GraphiQL url for query testing: https://graphql.contentful.com/content/v1/spaces/3brzg7q3bvg1/explore?access_token=$CONTENTFUL_DELIVERY_API_TOKEN

###<PLACE_TO_PAY###
# PLACE_TO_PAY_ENDPOINT=https://checkout-test.placetopay.com/ 
# PLACE_TO_PAY_LOGIN=
# PLACE_TO_PAY_SECRET_KEY=
# PLACE_TO_PAY_RETURN_URL=http://localhost:39080/checkout/pse/purchase-order
###< PLACE_TO_PAY