.form-input {
  @apply rounded focus:border-blue-dark focus:outline-none border-grey-60 h-10 placeholder:text-grey-60;
}
.form-input--error {
  @apply bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500;
}

.form-select:focus {
  @apply shadow-sm;
}

.form-input input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-input input[type="number"] {
  -moz-appearance: textfield;
}
.form-select--signin {
  @apply px-3 py-2  border-grey-60 h-10 bg-no-repeat rounded  focus:border-blue-dark focus:shadow-transparent;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
}

.form-select--signin select::-ms-expand {
  display: none !important;
}

.form-select--error {
  @apply bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #adaba5;
  -webkit-text-fill-color: #594f40;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
