@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  overflow-x: hidden; /* TODO: Verificar si es necesario o se ajustan a nivel de componentes */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title.is-1,
h1 {
  @apply font-bold text-4xl lg:text-[43px] leading-[1.3];
}

.title.is-2,
h2 {
  @apply text-3xl lg:text-4xl;
}

.title.is-3,
h3 {
  @apply text-xl lg:text-2xl lg:leading-[1.17];
}

.title.is-4,
h4 {
  @apply text-lg lg:text-xl lg:leading-[1.2];
}

.title.is-5,
h5 {
  @apply text-sm font-medium;
}

.title.is-6,
h6 {
  @apply text-xs font-semibold;
}

:is(h1, h2, h3, h4, .title.is-1, .title.is-2, .title.is-3, .title.is-4) {
  @apply font-bold;
}

[class^="text-size-subtitle"] {
  @apply font-bold;
}

section.section {
  @apply relative py-8;
}

.inputSelect:focus .listSelect {
  @apply block;
}

.shadow-card {
  box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.04), 2px 2px 8px rgba(0, 0, 0, 0.08);
}

.alert-block {
  @apply text-red-500 bg-red-300 w-full p-3 border border-red-500 font-bold mt-10;
}

.shadow-card-overview {
  box-shadow: -2px -2px 0px rgba(0, 0, 0, 0.04), 2px 2px 4px rgba(0, 0, 0, 0.08);
}
